*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    /* padding: 10px; */
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    background-color: white;
    z-index: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.navigations{
    display: flex;
}
.navigations li{
    list-style-type: none;
    margin-right: 20px;
}
.navigations li a{
    font-size: 15px;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
.logo-nav{
    height: 100px;
}
.nav2{
    z-index:1000;
    background-color: #fff;
    display: none;
    /* animation:  moverLeft 1.2s ease-in; */
    
}
/* @keyframes moverLeft{
    100%{
        opacity: 0;
        transform: translateX(10px);
    }
    0%{
        opacity: 1;
        transform: translateX(0);
    }
} */
.sidenav{
    /* background-color: #0099ff; */
   background-color: #fff;
    width: fit-content;
    height: 100vh;
    position: absolute;
    
    top:-10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sidenav li{
    display:flex ;
    flex-direction: column;
    /* border-bottom: 0.5px solid white; */
    margin-top:30px;
   
    width: 200px;
    justify-content: center;
    align-items: center;
    
}
.sidenav li a{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #0099ff;
    
}

.account_menu{
    position: absolute;
    top:100px;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.account_menu span{
    display: block;
    margin:20px;
    font-size: 10px;
}
.main-intro{
    text-align: center;
    padding: 50px;  
    background-color: white;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

.intro{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 7vw;
    color: white;
}
.btn{
    border: none;
    padding: 5px 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    /* font-size: 2vw; */
}
.br-1{
    border-radius: 10px;
}
.btn-blue{
    background-color: #0099ff;
    color: white;
}
.btn-blue-brd{
    border:1px solid #0099ff;
    color:#0099ff ;
}
/* .btn-blue-brd:hover{
    background-color: #0099ff;
    color: white;
} */
.btn-grey{
    background-color: #ddd;
}
.btn-grey-brd{
    border:1px solid rgb(40, 40, 40);
    color:black;
}
.btn-grey-brd:hover{
    background-color: #ddd;
    color: black;
    border: none;
}
.main-intro div button{
    border: none;
    padding: 10px 20px;
    margin: 20px 5px;
    border-radius: 10px;
    cursor: pointer;
}
.sub-menu{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    letter-spacing: 8px;
    font-size: 25px;
    margin: 15px;
    margin-top:50px;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height:50vh
}
.main .sec:nth-last-of-type(odd){
    height:250px;
    width:200px;
    margin: 10px;
    background-color: #0099ff;
    border-radius: 10px;
}
.main .sec:nth-last-of-type(even){
    height:250px;
    width:200px;
    margin: 10px;
    background-color: #ddd;
    border-radius: 10px;
}
.main .sec:hover{
    transform:rotate(45deg);
    z-index:80;
    transition: 0.5s ;
    
}
.main2{
    display: flex;
    flex-wrap: wrap-reverse;
}
.main2 div{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 5px;
    padding: 20px;
}
.main2 img{
    width:40%;
}
.sidenav li img{
    height:100px
}
footer{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    letter-spacing: 8px;
    padding: 20px;
    margin-top:50px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.hmen {
    width: 35px;
    height: 5px;
    background-color: #0099ff;
    margin: 6px 0;
  }
.navigations2{
      visibility: hidden;
}
@media only screen and (max-width:500px){
.navigations{
    display: none;
}
.navigations2{
    visibility: visible;
}
}